.bouton-haut{
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-background-color: #4CAF50; /* Vert */
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-border-color: #45A049; /* Bordure verte plus foncée */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

/* Désactiver les bords et marges du BorderPane */
.border-pane {
    -fx-padding: 0;
    -fx-border-style: none;
}
/* Désactiver les bords et marges de chaque région */
/*
.border-pane > * {
    -fx-border-style: none;
    -fx-padding: 0;
}*/